@charset "UTF-8";

html, body{
	height:100%;
	margin:0px;
	padding:0px;
}

ol, ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

input[type="text"], textarea {
    font-family: 맑은 고딕, 고딕, sans-serif;
}

.hidden{
	display: none;
}

.clearfix::after{
	content:"";
	clear:both;
	display:block;
}

.body{
	width:100%;
	height:100%;
}

.body > div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
/* header style */
.header{
	background: #990000;
	width:250px;
	color:white;
	height:100%;
	position: fixed;
}

.header a:hover {
    color: rgba(255, 172, 172, 0.68);
}

.header .logo a:hover{
	color: white;
}



.logo {
	text-align: center;
	font-weight: 400;
	padding-top: 50px;
}
.header a{
	color:white;
}
.member-info-container {
    display: inline-flex;
    width: inherit;
    padding: 19px 26px 3px 26px;
    box-sizing: border-box;
}

	.member-info-wrapper
	{
		display: flex;
		flex-direction: row;
		width: inherit;
		justify-content: space-between;
		padding-bottom: 3px;
		border-bottom: 1px solid rgba(232, 104, 104, 0.68);
	}

	.member-info-wrapper > div:nth-child(2){
		align-self: flex-end;
	}
	
	.member-info-wrapper > div:last-child > div:first-child {
	    font-size: 21px;
	    font-weight: 300;
	}
		
	.member-info-wrapper > div > div:last-child {
	    font-size: 13px;
	}
	
	.member-info-wrapper > div:last-child {
	    text-align: right;
	}
	
.main-menu {
    text-align: right;
    padding: 50px 27px;
}

	.main-menu li {
	    margin-top: 10px;
	    font-size: 14px;
	}
	
	.main-menu > li:first-child {
	    margin-top: 0px;
	}
	
	.main-menu.btn-container {
	    text-align: center;
	    padding: 0px;
	    width: inherit;
	    display: flex;
	    flex-direction: column;
	}
	
	.main-menu.btn-container > li {
	    border: 1px solid white;
	    border-radius: 10px;
	    margin: 10px 26px;
	    padding: 12px;
	    font-size: 14px;
	}
	
.member-menu {
    position: absolute;
    bottom: 0px;
    width: 250px;
    left: 0px;
}

	.member-menu > ul {
	    display: flex;
	    flex-direction: row;
	    border-top: 1px solid white;
	    width: inherit;
	}
	
		.member-menu > ul > li:last-child {
		    border-left: 1px solid white;
		}
		
		.member-menu > ul > li {
		    flex-grow: 1;
		    text-align: center;
		    padding: 8px;
		    font-size: 14px;
		}


/* main style */
.main {
    margin-left: 250px;
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
}

/* footer style */
.footer {
    text-align: right;
    background: black;
    margin: 0;
    padding: 1px;
    font-size: 13px;
    color: white;
}

.footer p {
    margin: 0px;
    padding: 3px;
}


/* index */
.widget-container {
    display: table;
    width: 100%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
}

.widgets {
    display: table-row;
}

.widgets div {
    display: table-cell;
}


/* list */
/* list 부분 */
.board-style{
    width: 1000px;
    padding: 50px 30px;
    box-sizing: border-box;
}


.table-container{
	margin:auto;
	width:95%;
}
.table-wrapper {
    width: 100%;
    margin-bottom: 10px;
}

.board-table {
    box-sizing: border-box;
    display: table;
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    text-align:center;
}
	.board-table .table-header {
	    border-top: 1px solid rgb(214, 214, 214);
	    background: rgba(125, 125, 125, 0.07);
	    line-height: 30px;
	    font-size: 12px;
	}
	
	.board-table .row {
	    display: table-row;
	    border-bottom: 1px solid #f3f3f3;
	    font-size: 13px;
	}
		.board-table .cell {
			display:table-cell;
		    padding: 8px 10px;
		    box-sizing: border-box;
		}
		
		.board-table .w60 {
		    width:60px;
		}
		
		.board-table .w80 {
		    width:80px;
		}
		.board-table .w100{
			width:100px;
		}
		
		.board-table .w120{
			width:120px;
		}
		
		.board-table .title {
		    white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    text-align: left;
		}

/* reg style */
.reg-container {
    background: whitesmoke;
    padding: 30px;
}

	.reg-wrapper {
	    background: white;
	    border: 1px solid #cacaca;
	    border-collapse: collapse;
	    display: flex;
	    flex-direction: column;
	}
	
		.reg-wrapper input[type="text"] {
		    border: 0px;
		    padding: 7px 5px;
		}
		
		.reg-wrapper .reg-style-btn-container {
		    background: whitesmoke;
		    padding: 3px;
		}

	
		.reg-wrapper .reg-content {
		    min-height: 450px;
		    max-height: 700px;
		    padding: 5px;
		    font-size: 14px;
		}
	
	.reg-btn-container {
	    text-align: right;
	    padding: 10px 10px 0px 0px;
	}
/* chat */
.chat-container {
    width: 750px;
    background: #142D45;
    height: 750px;
    display: flex;
    flex-direction: column;
    border: 3px solid #142D45;
    margin: 50px 100px;
}

.chat-container > span {
    line-height: 40px;
    padding: 0px 6px;
    color: white;
    font-weight: 400;
    font-size: 18px;
}

.chat-wrapper {
    background: white;
    padding: 10px;
    flex-grow: 1;
}


.row.chat-date p {
    font-size: 12px;
    text-align: center;
    color: #565656;
    margin: 0px;
}

.chat-wrapper .row h5 {
    margin: 10px 0px 0px 0px;
}

.chat-wrapper .row {
    padding: 0px 5px;
    border-bottom: 1px solid #999999;
}

.chat-wrapper .row.chat-date {
    border-bottom: 0px;
}	


.chat-wrapper .row h5 span {
    font-weight: 400;
    color: #868686;
}

.chat-wrapper .row p {
    font-size: 14px;

}

.chat-message {
    height: 85px;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.chat-message textarea {
    width: 641px;
    resize: none;
    border-radius: 8px;
}

.chat-message input[type="button"] {
    width: 80px;
    border-radius: 8px;
    border: 1px solid white;
    background: #142D45;
    color: white;
}

