@charset "UTF-8";
#videobcg
{ 
position: absolute;
top: 0px;
left: 0px;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -1000;
overflow: hidden;
}

body{
  background: url(../images/sign.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family:'HelveticaNeue','Arial', sans-serif;
}

a{color:rgb(95, 106, 94);text-decoration: none;}
a:hover{color:#aaa; }
.pull-right{float: right;}
.pull-left{float: left;}
.clear-fix{clear:both;}
div.logo{text-align: center; margin: 20px 20px 30px 20px; fill: #566375;}
div.logo svg{
	width:180px;
	height:100px;
}
.logo-active{fill: #44aacc !important;}
#formWrapper{
	background: rgba(0,0,0,.2); 
	width:100%; 
	height:100%; 
	position: absolute; 
	top:0; 
	left:0;
	transition:all .3s ease;}
.darken-bg{background: rgba(0,0,0,.5) !important; transition:all .3s ease;}

div#form{
	position: absolute;
	width:400px;
	height:320px;
	height:auto;
	background-color: rgba(255, 255, 255, 0.86); /* // #fff  */
	margin:auto;
	border-radius: 5px;
	padding:20px;
	left:50%;
	top:50%;
	margin-left:-200px;
	margin-top:-400px;/* -400px; */
}
div.form-item{position: relative; display: block; margin-bottom: 20px;}
 input{transition: all .2s ease;}
 .form-title{
	/* color:#ffffff; *//*#8a8a8a  */
	display: block;
	width: 90%;
	height: 34px;
	padding: 0px 2%;
/*	border:1px solid #ccc;
 	-moz-border-radius: 27px;
	-webkit-border-radius: 27px;
	border-radius: 27px; 
	background-color: #fff;
	font-size: 105%;
	border-radius: 5px;
	*/
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	font-family:'HelveticaNeue','Arial', sans-serif;
	font-weight: bold;
	letter-spacing: .8px;
}
.form-item>div.form-style{
	color: black;
	display: block;
    text-align: center;
	ont-variant: petite-caps;
    font-size: 25px;
}
 input.form-style, div.form-style{
	color:#8a8a8a;
	display: block;
	width: 90%;
	height: 44px;
	padding: 5px 5%;
	border:1px solid #ccc;
/* 	-moz-border-radius: 27px;
	-webkit-border-radius: 27px;
	 */
	 border-radius: 6px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff;
	font-family:'HelveticaNeue','Arial', sans-serif;
	font-size: 105%;
	letter-spacing: .8px;
}
div.form-item .form-style:focus{outline: none; border:1px solid #58bff6; color:#58bff6; }
/* div.form-item p.formLabel {
	position: absolute;
	left:26px;
	top:2px;
	transition:all .4s ease;
	color:#bbb;} */
.formTop{top:-22px !important; left:26px; background-color: #fff; padding:0 5px; font-size: 14px; color:#58bff6 !important;}
.formStatus{color:#8a8a8a !important;}
input[type="submit"].login{
	float:right;
	width: 112px;
	height: 37px;
	-moz-border-radius: 19px;
	-webkit-border-radius: 19px;
	border-radius: 19px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: rgb(95, 106, 94);
	border:1px solid rgb(95, 106, 94);
	border:none;
	color: #fff;
	font-weight: bold;
}
input[type="submit"].login:hover{background-color: #fff; border:1px solid #55b1df; color:#55b1df; cursor:pointer;}
input[type="submit"].login:focus{outline: none;}


.choice-container img {
    width: 150px;
}

.register-choice {
    width: 700px;
    height: 299px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -350px;
    margin-top: -150px;
    display: flex;
    justify-content: space-between;
}

.choice-container {
    width: 287px;
    display: flex;
    background: white;
    border-radius: 7px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
    box-sizing: border-box;
}

.register-btn-style {
    border: 1px solid rgb(95, 106, 94);
    color: rgb(95, 106, 94);
    padding: 10px 62px;
    border-radius: 5px;
    width: 188px;
    box-sizing: border-box;
    font-weight: 600;
}

.register-btn-style:hover {
    color: #55b1df;
    border: 1px solid #55b1df;
}

.hidden{
	display: none;
}