<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.avatar.web.dao.AdminBoardCmtDao">
	<select id="getList" resultType="com.avatar.web.entity.BoardCmt">
		SELECT no, regDate, content, writerId FROM AdminBoardCmtView where postId = #{no} order by regDate ASC
	</select>
	<select id="get" resultType="com.avatar.web.entity.BoardCmt">
		select no, regDate, content, postId as boardNo, writerId from AdminBoardCmtView where no = #{no}
	</select>
	<insert id="insert" parameterType="com.avatar.web.entity.BoardCmt">
		insert into AdminBoardCmtView(no, content, writerId, postId)
		values ((select IFNULL(max(cast(no as unsigned)), 0)+1 from AdminBoardCmtView q), #{content}, #{writerId}, #{boardNo})
	</insert>
	<update id="update" parameterType="com.avatar.web.entity.BoardCmt">
		update AdminBoardCmtView set content  = #{content} where no = #{no}
	</update>
	<delete id="deleteInformation">
		delete from AdminBoardCmtView where postId = #{no} 
	</delete>
	<delete id="delete">
		delete from AdminBoardCmtView where no = #{no} 
	</delete>
</mapper>    