<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.avatar.web.dao.MemberClassDao">
	<insert id="insert" parameterType="com.avatar.web.entity.MemberClass">
		insert into MemberClass(id,memberId,classId)
		values((select ifnull(max(cast(id as unsigned)),0) + 1 from MemberClass c),#{param1}, #{param2});
	</insert>
	
	<select id="getClassId" resultType="String">
		<!-- select name from Class where id=(select classId from MemberClass where memberId = #{id}); -->
		select classId from MemberClass where memberId = #{id}
	</select>
	
	<select id="getClassInfo" resultType="com.avatar.web.entity.MemberClassView">
		<!-- select name from Class where id=(select classId from MemberClass where memberId = #{id}); -->
		select * from MemberClassView where memberId = #{id}
	</select>
	
	<select id="getList" resultType="com.avatar.web.entity.MemberClassView">		
		select memberName from MemberClassView where classId=#{classId};
	</select>
	
	<select id="getMemberList" resultType="com.avatar.web.entity.MemberClassView">		
		SELECT * FROM MemberClassView  where memberRole !='ROLE_ADMIN' and ${param2} like '%${param3}%' order by memberRole DESC, classOpenDate DESC limit ${(param1-1)*15}, 15
	</select>


	<select id="getMemberCount" resultType="int">	
		SELECT count(memberId) as count FROM MemberClassView
	</select>
	
	
	<select id="getHeader" resultType="com.avatar.web.entity.MemberClassView">		
		select className, classOpenDate from MemberClassView where memberId=#{sessionId};
	</select>	
	
	

	<select id="getStuCount" resultType="int">
		select COUNT(*) from MemberClass where classId = #{classId}
	</select>

</mapper>    