<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.avatar.web.dao.QuestionCmtDao">
	<select id="getList" resultType="com.avatar.web.entity.BoardCmt">
		SELECT no, regDate, content, writerId FROM QuestionComment where QuestionNo = #{no} order by regDate ASC;
	</select>
	<insert id="insert" parameterType="com.avatar.web.entity.BoardCmt">
		insert into QuestionComment(no, content, writerId, questionNo)
		values ((select IFNULL(max(cast(no as unsigned)), 0)+1 from QuestionComment q), #{content}, #{writerId}, #{boardNo})
	</insert>
	<delete id="deleteQuestion">
		delete from QuestionComment where questionNo = #{no} 
	</delete>
</mapper>    