<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.avatar.web.dao.SeatDao">
	<select id="getList" resultType="com.avatar.web.entity.SeatView">		
		select memberName from SitChangeView where classId=#{classId};
	</select>

	<select id="getClassId" resultType="String">		
		select classId from SitChangeView where memberId=#{sessionId};
	</select>

	<select id="getHeader" resultType="com.avatar.web.entity.SeatView">		
		select className, classOpenDate from SitChangeView where memberId=#{sessionId};
	</select>	

</mapper>    